{{>headerlinks}}
<section class="section-cta" id="cta resetpassword">
  <div class="container">
    <div class="cta">
      <div class="cta-text-box">
        <h2 class="heading-secondary">Get your first meel for free!
        </h2>
        <p class="cta-text">
          Healthy, tasty and hassle-free meals are waiting for you. Start eating
          well today. You can cancel or pause anytime. And the first meal is on
          us!
        </p>
        {{!-- action="/auth/resetpassword/:id" --}}
        <form class="cta-form" method="post">
          <!-- use for,placeholder,optipn,value & action -->
          {{!-- <div>
            <label for="email">Email address </label>
            <input
              name="email"
              id="email"
              value=""
              type="email"
              placeholder="me@example.com"
              required
            />
          </div> --}}
          <div>
            <label for="select-where">New Password</label>
            <input name="newPassword" id="password" value="" type="password" placeholder="Enter your password"
              required />
          </div>
          <div>
            <label for="select-where">Confirm Password</label>
            <input name="confirmpassword" id="confirmpassword" value="" autocomplete="off" type="password"
              placeholder="Confirm your password" required />

          </div>

          {{!-- <button class="btn btn--form">Sign up now</button> --}}
          <button type="submit" class="btn btn--form justify-content-center d-flex mx-auto" value="">Sumbit
            Password</button>
          <!-- <input type="checkbox" />  <input type="number" /> -->
        </form>
      </div>
      <!-- use in this aria-label & role attribute -->
      <div class="cta-img-box" role="img" aria-label="Women enjoying food">Image</div>

    </div>
  </div>
  {{#if message}}
  <div class="mt-4">
    <h4 class="alert alert-denger">{{message}}</h4>
  </div>
  {{/if}}
</section>