<meta name="viewport" content="width=, initial-scale=1.0" />
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap"
  rel="stylesheet"
/>
<link rel="stylesheet" href="/css/general.css" />
<link rel="stylesheet" href="/css/style.css" />
<link rel="stylesheet" href="/css/queries.css" />

<script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>
<script
  type="module"
  src="https://unpkg.com/ionicons@5.4.0/dist/ionicons/ionicons.esm.js"
></script>
<script defer src="/js/script.js"></script>
<title>Omnifood</title>