<a href="#">
  <img class="logo" alt="Omnifood logo" src="/img/omnifood-logo.png" />
</a>
<nav class="main-nav">
  <ul class="main-nav-list">
    <li>
      <a href="#howitsworks" class="main-nav-link">How it works</a>
    </li>
    <li>
      <a href="#meals" class="main-nav-link">Meals</a>
    </li>
    <li>
      <a href="#testimonials" class="main-nav-link">Testimonials</a>
    </li>
    <li>
      <a href="#pricing" class="main-nav-link">Pricing</a>
    </li>
    <li>
      <a href="/logOut" class="main-nav-link nav-cta">Log Out</a>
    </li>

  </ul>
</nav>
<button class="btn-mobile-nav">
  <ion-icon class="icon-mobile-nav" name="menu-outline"></ion-icon>
  <ion-icon class="icon-mobile-nav" name="close-outline"></ion-icon>
</button>