<!DOCTYPE html>
<html lang="en">

<head>
<!-- Always include this line of code!!! -->
{{>headerlinks}}
</head>
<body>
     {{!-- <header class="header sticky ">
      {{>navbar}}
    </header> --}}
    <!--     PRICING SECTION       -->
        <section class="section-pricing" id="pricing">
            <div class="container">
                <span class="subheading">PRICING</span>
                <h2 class="heading-secondary">Eating well without breaking the bank </h2>
            </div>
            <div class="container grid grid--2--cols margin-bottom-md">
                <div class="pricing-plan pricing-plan--starter">
                    <header class="plan-header">
                        <p class="plan-name"> Starter</p>
                        <p class="plan-price"><span>$</span>399</p>
                        <p class="plan-text">per month. That's just $13 per meal!
                        </p>
                    </header>
                    <ul class="list">
                        <li class="list-item">
                            <ion-icon class="list-icon" name="checkmark"></ion-icon><span>1 meal per day</span></li>
                        <li class="list-item">
                            <ion-icon class="list-icon" name="checkmark"></ion-icon><span>Order from 11am to 9pm</span></li>
                        <li class="list-item">
                            <ion-icon class="list-icon" name="checkmark"></ion-icon><span> Delivery is free</span></li>
                        <li class="list-item">
                            <ion-icon class="list-icon" name="close"></ion-icon>order can cancel at any time</li>
                    </ul>
                    <div class="plan-sing-up">
                        <a href="#" class="btn btn--full">Purchase</a>
                    </div>
                </div>
                <div class="pricing-plan pricing-plan--complete">
                    <header class="plan-header">
                        <p class="plan-name">Complete</p>
                        <p class="plan-price"><span>$</span>649</p>
                        <p class="plan-text">per month. That's just $11 per meal!
                        </p>
                    </header>
                    <ul class="list">
                        <li class="list-item">
                            <ion-icon class="list-icon" name="checkmark"></ion-icon><span><strong>2 meals</strong> per day</span></li>
                        <li class="list-item">
                            <ion-icon class="list-icon" name="checkmark"></ion-icon><span>Order <strong>24/7</strong> </span></li>
                        <li class="list-item">
                            <ion-icon class="list-icon" name="checkmark"></ion-icon><span>Delivery is free</span></li>
                        <li class="list-item">
                            <ion-icon class="list-icon" name="checkmark"></ion-icon><span>Get access to latest recipes</span></li>
                    </ul>
                    <div class="plan-sing-up">
                        <a href="#" class="btn btn--full">Purchase</a>
                    </div>
                </div>
            </div>
            <div class="container grid">
                <aside class="plan-details">
                    Prices include all applicable taxes. You can cancel at any time.Both plans include the following:
                </aside>
            </div>
            <div class="container grid grid--4--cols">
                <div class="feature">
                    <ion-icon class="feature-icon" name="infinite-outline"></ion-icon>
                    <p class="feature-title">Never cook again!</p>
                    <p class="feature-text">
                        Our subscriptions cover 365 days per year, even including major holidays.
                    </p>
                </div>
                <div class="feature">
                    <ion-icon class="feature-icon" name="nutrition-outline"></ion-icon>
                    <p class="feature-title"> Local and organic</p>
                    <p class="feature-text">
                        Our cooks only use local, fresh, and organic products to prepare your meals.
                    </p>
                </div>
                <div class="feature">
                    <ion-icon class="feature-icon" name="leaf-outline"></ion-icon>
                    <p class="feature-title">No waste</p>
                    <p class="feature-text">
                        All our partners only use reusable containers to package all your meals.
                    </p>
                </div>
                <div class="feature">
                    <ion-icon class="feature-icon" name="pause-outline"></ion-icon>
                    <p class="feature-title">Pause anytime</p>
                    <p class="feature-text">
                        Going on vacation? Just pause your subscription, and we refund unused days.
                    </p>
                </div>
            </div>
        </section>

</body>
</html>